@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000000;
  font-size: 17px;
  overflow-x: hidden;
}

a {
  color: #000000;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

.title-2 {
  color: #000000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
  /* 120% */
}

.title-3 {
  color: #918F89;
  text-align: center;
  /* Подзаголовки №2 */
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  /* 120% */
}

.subtitle,
.text {
  color: #000000;
  /* Спл.т текст с абзац. */
  font-style: normal;
  font-weight: 400;
  /* 117.647% */
}

.subtitle {
  line-height: 20.4px;
  /* 120% */
}

.btn {
  width: 160px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 1.1px;
  overflow: hidden;
}

.wrapper {
  display: block;
  height: 193.408px;
  background: url(./../img/wrapper/wrapper-bg-1440.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 57.5px;
}
.wrapper__content {
  padding-top: 72px;
}
.wrapper__title {
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: -0.9px;
  overflow: hidden;
  text-transform: uppercase;
}

.frequent-questions__title {
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: -0.9px;
  overflow: hidden;
  text-transform: none;
}

.frequent-questions {
  margin-bottom: 0;
}

.address-link {
  margin-bottom: 20px;
  text-align: center;
}

.address-link--text {
  width: 384px;
  font-size: 17px;
  color: #918F89;
  /* Шапка */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  /* 120% */
  max-width: 384px;
  width: 100%;
  letter-spacing: 0.8px;
  opacity: 0.88;
}

.tag {
  display: block;
  margin-bottom: 57px;
}
.tag__title {
  margin-bottom: 33px;
  letter-spacing: 0.2px;
}
.tag__subtitle {
  margin-bottom: 42.8px;
  line-height: 20px;
  max-width: 1198px;
  width: 100%;
  letter-spacing: 0.18px;
}
.tag__info {
  padding-top: 35px;
}
.tag__info-with-image {
  padding-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tag__image {
  margin-right: 198px;
}
.tag__image--img {
  height: auto;
  max-width: 282px;
}
.tag__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}
.tag__text--p {
  line-height: 20.4px;
}

.title-unique-code {
  letter-spacing: 0.5px;
  margin-bottom: 33px;
}

.title-tag {
  letter-spacing: 0.2px;
  margin-bottom: 31px;
}

.about {
  background-color: #E8F1FA;
}
.about__content {
  padding-top: 71px;
}
.about__container {
  max-width: 1200px;
}
.about__title {
  text-align: center;
  letter-spacing: -0.7px;
  margin-bottom: 66px;
}
.about__feanite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feanite__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 105.2px;
  position: relative;
  margin-bottom: 38.44px;
}
.feanite__image::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  right: 0px;
  bottom: 0px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-image: url(../img/about/about-feanite-brill-1440-240.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feanite__image--img {
  max-width: 539.795px;
  height: auto;
}

.feanite__text {
  padding-top: 32px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 108px;
  gap: 27px;
  margin-right: 202px;
  max-width: 540px;
  letter-spacing: 0.2px;
}

.item__text--p {
  line-height: 20.4px;
}

.item__image {
  width: 100%;
  padding-right: 98px;
}
.item__image--img {
  max-width: 360px;
  height: auto;
}

.feanites {
  padding-top: 120px;
}
.feanites__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}
.feanites__block-1 {
  padding: 0 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 126px;
  min-height: 312px;
  padding-bottom: 121px;
  border-bottom: 1px solid #918F89;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.feanites__block-2 {
  padding: 0 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #918F89;
  row-gap: 38px;
  height: 100%;
  padding-bottom: 80px;
  padding-top: 49.4px;
  margin-bottom: 50px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.feanites__block-3 {
  padding: 0 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 38px;
  height: 100%;
  padding-bottom: 80px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.feanites__image {
  width: 180px;
  max-height: 230px;
  position: relative;
}
.feanites__image--img {
  max-width: 180px;
  height: auto;
}

.feanites__block-1--image,
.feanites__block-2--image,
.feanites__block-3--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feanites__block-1--image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 378px);
          flex: 0 0 calc(33% - 378px);
}

.feanites__block-2--image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.feanites__block-3--image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.feanite__image--caption {
  margin-top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  color: #000000;
  text-align: center;
  /* Подпись №2 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  /* 120% */
}

.colors-info {
  max-width: 486px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.colors-info__title {
  margin-bottom: 29px;
}
.colors-info__subtitle {
  line-height: 20.4px;
}
.colors-info__subtitle--p {
  font-size: 17px;
}

.info {
  background-color: #E8F1FA;
  margin-bottom: 50px;
}
.info__content {
  padding: 77px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 99px;
     -moz-column-gap: 99px;
          column-gap: 99px;
}
.info__container {
  max-width: 1199px;
}
.info__block-1, .info__block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info__block-1--p, .info__block-2--p {
  font-size: 17px;
}
.info__block-1 {
  row-gap: 24px;
}
.info__block-2 {
  row-gap: 23px;
}

.characterization__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #918F89;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}
.characterization__content--img {
  max-width: 1202px;
  height: auto;
}

.guarantors__title {
  text-align: center;
  margin-bottom: 48.75px;
}
.guarantors__classic {
  margin-bottom: 49px;
}

.classic__title {
  margin-bottom: 28px;
}
.classic-with-changes__title {
  margin-bottom: 28px;
}

.classic-with-changes,
.experimental {
  margin-bottom: 49px;
}

.experimental {
  padding-bottom: 50px;
  border-bottom: 1px solid #918F89;
}

.brill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 60px;
}
.brill__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brill__image--img {
  max-width: 100%;
  height: auto;
}
.brill__image--caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  color: #000000;
  text-align: center;
  /* Подпись №2 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  /* 120% */
}

.brill__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.5%;
          flex: 0 0 17.5%;
}

.addition-info {
  margin-bottom: 49px;
}
.addition-info__container {
  max-width: 996px;
}

.quality-mark {
  margin-bottom: 96px;
}

.pure {
  margin-bottom: 50px;
}

.quality-mark,
.pure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 126px;
}

.quality-mark__image,
.pure__image {
  width: 100%;
}
.quality-mark__image--img,
.pure__image--img {
  max-width: 230px;
  height: auto;
  justify-items: center;
}

.quality-mark__title,
.pure__title {
  -ms-flex-item-align: center;
      align-self: center;
}

.quality-mark__title--h2,
.pure__title--h2 {
  margin-bottom: 28px;
}

.quality-mark_text--p,
.pure_text--p {
  font-size: 17px;
  line-height: 20.4px;
}

.what-first__content-first {
  padding-top: 50px;
  padding-bottom: 73px;
}
.what-first__title {
  text-align: center;
  margin-bottom: 29px;
}
.what-first__container {
  max-width: 1200px;
}

.what-second {
  background-color: #E8F1FA;
  outline: #CFE4E9 1px solid;
  margin-bottom: 63px;
}
.what-second__content-second {
  padding-top: 36px;
  padding-bottom: 68px;
}
.what-second__title {
  text-align: center;
  margin-bottom: 29px;
}
.what-second__container {
  max-width: 1200px;
}

.what-first__text,
.what-second__text {
  font-size: 17px;
  line-height: 20px;
}

.photo__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}
.photo__image--img {
  max-width: 100%;
  height: auto;
}
.photo__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 51px;
  padding-bottom: 50px;
  border-top: 1px solid #918F89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo__text {
  margin-bottom: 56px;
  text-align: center;
}
.photo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 164px;
  height: 55px;
  color: #000000;
  text-align: center;
  /* Кнопка */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  /* 120% */
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #000;
}

@media only screen and (max-width: 834px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 734px;
  }
  .wrapper {
    background: url(./../img/wrapper/wrapper-bg-834.png);
    max-width: 834px;
    height: 112.015px;
    margin-bottom: 20px;
  }
  .wrapper__content {
    padding-top: 45.3px;
  }
  .title-unique-code {
    margin-bottom: 15px;
  }
  .tag {
    margin-bottom: 0;
  }
  .tag__info {
    padding-top: 0;
  }
  .tag__title {
    margin-bottom: 15px;
  }
  .tag__subtitle {
    margin-bottom: 44px;
  }
  .tag__image {
    margin-right: 83px;
  }
  .tag__image--img {
    height: auto;
    max-width: 194.319px;
  }
  .item__image {
    padding-right: 68px;
  }
  .item__image--img {
    height: auto;
    max-width: 167px;
  }
  .tag__text {
    gap: 15px;
  }
  .tag__text--p {
    letter-spacing: 0.1px;
  }
  .tag__text--p:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tag__text--p:nth-child(1) {
    display: none;
  }
  .tag__text--p:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tag__text--p:nth-child(4) {
    display: none;
  }
  .tag__text--p:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tag__info-with-image {
    padding-left: 55.5px;
    padding-bottom: 14px;
    border-bottom: 1px solid #918F89;
  }
  .feanite__image {
    display: none;
  }
  .feanite__image--img {
    max-width: 479px;
  }
  .feanite__image-834-content {
    padding: 0 127px;
    padding-top: 40.75px;
    padding-bottom: 85.14px;
  }
  .image-834 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feanite__image-834 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
  }
  .feanite__image-834::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0px;
    bottom: 0px;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    background-image: url(../img/about/about-feanite-brill-834.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .feanite__text {
    padding-top: 0;
    letter-spacing: 0.19px;
  }
  .feanite__text--p:nth-child(1) {
    margin-bottom: 20px;
  }
  .feanite__text--p:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 62px;
  }
  .about__content {
    padding-top: 35px;
    padding-bottom: 47px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .item__text--p:nth-child(1) {
    display: none;
  }
  .item__text {
    padding: 33px 0;
    margin-right: 98px;
  }
  .feanites {
    padding-top: 96px;
  }
  .orange-yellow {
    margin-right: 23px;
  }
  .aquamarine {
    margin-right: 50px;
  }
  .feanites__block-1 {
    gap: 0;
    padding: 0;
    padding-left: 40px;
    min-height: 315.307px;
  }
  .feanites__block-2 {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .feanites__block-3 {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .feanites__image {
    width: 151px;
    max-height: 200px;
  }
  .feanites__image--img {
    max-width: 151px;
    height: auto;
  }
  .feanite__image--caption {
    width: 151px;
  }
  .colors-info {
    max-width: 318px;
    width: 100%;
  }
  .colors-info__title {
    margin-bottom: 23px;
  }
  .colors-info__subtitle--p {
    letter-spacing: 0.3px;
  }
  .feanites__block-1--image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33% - 40px - 50px - 23px);
            flex: 0 0 calc(33% - 40px - 50px - 23px);
  }
  .feanites__block-2--image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .info__content {
    -webkit-column-gap: 19px;
       -moz-column-gap: 19px;
            column-gap: 19px;
    padding-top: 29px;
    padding-bottom: 44px;
  }
  .info__block-1 {
    gap: 20px;
  }
  .info__block-2 {
    gap: 19px;
  }
  .info__block-1--p {
    letter-spacing: 0.5px;
  }
  .characterization__content {
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .characterization__content--img {
    max-width: 734px;
  }
  .guarantors__title {
    margin-bottom: 35px;
  }
  .classic__title {
    margin-bottom: 22px;
  }
  .brill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 61px;
  }
  .brill__image--img {
    max-width: 100%;
    height: auto;
  }
  .brill__image--caption {
    width: 160px;
  }
  .experimental__title {
    margin-bottom: 22px;
  }
  .quality-mark {
    gap: 98px;
    margin-bottom: 75.5px;
  }
  .pure {
    gap: 98px;
    margin-bottom: 0;
  }
  .pure__title {
    padding-top: 30.5px;
    padding-bottom: 27.5px;
  }
  .pure__title--h2 {
    margin-bottom: 15px;
  }
  .addition-info {
    margin-bottom: 42.3px;
  }
  .quality-mark__image--img,
  .pure__image--img {
    max-width: 235px;
  }
  .title-2 {
    font-size: 22px;
    line-height: 26.4px;
    /* 120% */
  }
  .title-tag {
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 19.2px;
    /* 120% */
  }
  .address-link {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    /* 120% */
    margin-bottom: 17px;
  }
  .address-link--text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    /* 120% */
  }
  .text {
    font-size: 16px;
    line-height: 19.2px;
    /* 120% */
  }
  .feanite__image--caption,
  .brill__image--caption {
    font-size: 14px;
    line-height: 16.8px;
    /* 120% */
  }
  .brill__image--caption {
    width: 160px;
  }
  .title-3 {
    font-size: 16px;
    line-height: 19.2px;
    /* 120% */
  }
  .what-first__content-first {
    padding-top: 5px;
    padding-bottom: 36px;
  }
  .what-second {
    margin-bottom: 44px;
  }
  .photo__content {
    padding-top: 35px;
    padding-bottom: 82px;
  }
  .photo__images {
    margin-bottom: 44px;
    gap: 14.7px;
  }
  .photo__text {
    margin-bottom: 27px;
  }
  .what-second__content-second {
    padding-top: 32px;
    padding-bottom: 29px;
  }
  .visible-until-834 {
    display: none;
  }
  .what-second__text:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .what-first__title {
    margin-bottom: 15px;
  }
  .photo__button {
    font-size: 14px;
    line-height: 16.8px;
    width: 156px;
    /* 120% */
  }
}
@media only screen and (max-width: 390px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 350px;
  }
  .wrapper {
    background: url(./../img/wrapper/wrapper-bg-390.png);
    max-width: 389.528px;
    height: 237.288px;
    margin-bottom: 20px;
  }
  .wrapper__content {
    padding-top: 108px;
  }
  .image-390 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tag__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 26px;
  }
  .tag__image--img {
    height: auto;
    max-width: 194.319px;
  }
  .tag {
    display: none;
  }
  .title-unique-code {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
    font-weight: 500;
    margin-bottom: 34.64px;
  }
  .tag {
    margin-bottom: 0;
  }
  .tag__info {
    padding-top: 0;
  }
  .tag__title {
    margin-bottom: 15px;
  }
  .tag__subtitle {
    margin-bottom: 63.3px;
  }
  .tag__subtitle--p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    /* 120% */
    margin-bottom: 36px;
  }
  .item__image {
    padding-right: 0;
  }
  .item__image--img {
    height: auto;
    max-width: 172.925px;
  }
  .tag__text {
    gap: 15px;
  }
  .tag__text--p {
    letter-spacing: 0.1px;
  }
  .tag__text--p:nth-child(2) {
    margin-bottom: 36px;
  }
  .tag__info-with-image {
    padding-left: 55.5px;
    padding-bottom: 14px;
    border-bottom: 1px solid #918F89;
  }
  .feanite__image {
    display: none;
  }
  .feanite__image--img {
    max-width: 389.457px;
  }
  .feanite__image-834-content {
    padding: 0;
  }
  .feanite__image-834 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
  }
  .feanite__image-834::after {
    content: "";
    position: absolute;
    width: 115.02px;
    height: 115.02px;
    right: 0px;
    bottom: 0px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    background-image: url(../img/about/about-feanite-brill-390.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .feanite__text {
    padding-top: 0;
    letter-spacing: 0.19px;
    margin-bottom: 15px;
  }
  .feanite__text--p:nth-child(1) {
    margin-bottom: 20px;
    display: none;
  }
  .feanite__text--p:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
  .feanite__text--p:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 37px;
  }
  .feanite__text--p:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    letter-spacing: 0;
  }
  .about__content {
    padding-top: 47px;
    padding-bottom: 9px;
  }
  .about__title {
    max-width: 199px;
    text-align: start;
    margin-bottom: 17px;
  }
  .about__item {
    display: none;
  }
  .about__item-390 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24.5px;
  }
  .item__text--p:nth-child(1) {
    display: none;
  }
  .item__text {
    padding: 0 0;
    margin-right: 0px;
  }
  .feanites {
    padding-top: 27px;
  }
  .orange-yellow {
    padding-top: 0;
    margin-right: 0;
    padding-left: 72px;
  }
  .aquamarine {
    margin-right: 0;
    padding-right: 81px;
  }
  .feanites__block-1 {
    gap: 0;
    padding: 0;
    padding-left: 0px;
    min-height: 322px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feanites__block-1--image {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .feanites__block-2 {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 42.5px;
    margin-bottom: 0;
  }
  .feanites__block-2--image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feanites__block-3 {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 42px;
  }
  .feanites__image {
    width: 89px;
    max-height: 153px;
  }
  .feanites__image--img {
    max-width: 89px;
    height: auto;
  }
  .feanite__image--caption {
    width: 89px;
  }
  .colors-info {
    margin-top: 9px;
    max-width: 318px;
    width: 100%;
  }
  .colors-info__title {
    margin-bottom: 23px;
  }
  .colors-info__subtitle--p {
    letter-spacing: 0.3px;
  }
  .colors-info .title-2 {
    text-align: center;
  }
  .colors-info__subtitle--p:nth-child(1) {
    display: none;
  }
  .colors-info__subtitle--p:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feanites__block-1--image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .info__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 29px;
       -moz-column-gap: 29px;
            column-gap: 29px;
    padding-top: 43px;
    padding-bottom: 30px;
  }
  .info__block-1,
  .info__block-2 {
    display: none;
  }
  .info__block-1-390,
  .info__block-2-390 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__block-1-390 {
    gap: 10px;
  }
  .info__block-2-390 {
    gap: 10px;
  }
  .block-2--p:first-child {
    margin-top: 28.77px;
  }
  .block-2--p:nth-child(2) {
    margin-top: 25px;
  }
  .info__block-1--p {
    letter-spacing: 0.5px;
  }
  .block-2--p:last-child {
    margin-top: 13px;
  }
  .characterization__content {
    padding-top: 15px;
    padding-bottom: 40px;
  }
  .characterization__content--img {
    max-width: 330px;
  }
  .guarantors__content .guarantors__title {
    font-size: 14.776px;
    line-height: 17.731px;
  }
  .classic__content .classic__title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    /* 120% */
  }
  .guarantors__title {
    /* 120% */
    margin-bottom: 35px;
  }
  .guarantors__classic {
    margin-bottom: 54px;
  }
  .classic-with-changes {
    margin-bottom: 40px;
  }
  .classic-with-changes__content .classic-with-changes__title {
    padding-left: 100px;
    padding-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    /* 120% */
    margin-bottom: 20px;
  }
  .classic__title {
    margin-bottom: 22px;
  }
  .brill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 7px;
       -moz-column-gap: 7px;
            column-gap: 7px;
    row-gap: 30px;
  }
  .brill__image--img {
    max-width: 100%;
    height: auto;
  }
  .brill__image--caption {
    width: 160px;
  }
  .experimental {
    padding-bottom: 40px;
  }
  .experimental__content .experimental__title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    /* 120% */
  }
  .experimental__content .brill {
    row-gap: 20px;
  }
  .experimental__title {
    margin-bottom: 20px;
  }
  .quality-mark {
    gap: 0;
    margin-bottom: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quality-mark__title--h2 {
    text-align: center;
  }
  .pure {
    gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .pure__title {
    padding-top: 30.5px;
    padding-bottom: 27.5px;
  }
  .pure__title--h2 {
    margin-bottom: 15px;
  }
  .addition-info {
    margin-bottom: 56px;
  }
  .pure__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .pure__title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .pure__title--h2 {
    text-align: center;
  }
  .pure_text--p {
    display: none;
  }
  .pure_text--p-390 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .quality-mark__image,
  .pure__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .quality-mark__image--img,
  .pure__image--img {
    max-width: 111px;
  }
  .quality-mark_text {
    display: none;
  }
  .quality-mark_text-390 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    /* 120% */
  }
  .title-tag {
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 14px;
    line-height: 16.8px;
    /* 120% */
  }
  .address-link {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 14.4px;
    /* 120% */
    margin-bottom: 15px;
  }
  .address-link--text {
    font-size: 12px;
    line-height: 14.4px;
    /* 120% */
  }
  .frequent-questions__title .title-2 {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 120% */
    text-transform: uppercase;
  }
  .text {
    font-size: 16px;
    line-height: 19.2px;
    /* 120% */
  }
  .brill__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 21.6px);
            flex: 0 0 calc(25% - 21.6px);
  }
  .feanite__image--caption,
  .brill__image--caption {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.4px;
    /* 120% */
  }
  .brill__image--caption {
    width: 76.968px;
  }
  .title-3 {
    font-size: 16px;
    line-height: 19.2px;
    /* 120% */
  }
  .what-first__content-first {
    padding-top: 5px;
    padding-bottom: 38.49px;
  }
  .what-second {
    margin-bottom: 21.72px;
  }
  .photo__content {
    border: none;
    padding: 0;
  }
  .photo__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .image4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .image3 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .image2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .photo__images {
    margin-bottom: 40.3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19.44px;
  }
  .photo__text {
    margin-bottom: 25.7px;
    max-width: 330px;
    letter-spacing: 1.6px;
  }
  .what-second__content-second {
    padding-top: 33px;
    padding-bottom: 23px;
  }
  .what-second__container .what-second__title {
    text-align: start;
  }
  .visible-until-834 {
    display: none;
  }
  .what-second__text:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .what-first__title {
    text-align: start;
    margin-top: 20px;
    margin-bottom: 19px;
  }
  .photo__button {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.4px;
    border: 0.603px solid #000;
    width: 118px;
    height: 33px;
    /* 120% */
    /* 120% */
  }
  .text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    /* 120% */
  }
}