//Fonts
$font-main: 'Roboto', sans-serif;
$font-second: "Caladea", sans-serif;

//Colors
$white: #fff;
$black: #000000;
$secondary: #918F89;
$background: #E8F1FA;
$background-second: #CFE4E9;

//Media
$tablet: 834px;
$phone: 390px;